<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>oe psd to html</title>

		<!-- all google fonts for this project  -->
		<!-- Poppins Google Font  -->
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- --or-- Raleway Google Font -->

		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- all vendor css files  -->
		<link rel="stylesheet" href="../css/all.min.css" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/owl.carousel.min.css" />

		<!-- my custom css files  -->
		<link rel="stylesheet" href="../css/basic.css" />
		<!-- <link rel="stylesheet" href="./assets/css/style.css" />
		<link rel="stylesheet" href="./assets/css/responsive.css" /> -->
		<link rel="stylesheet" href="./about.css" />
	</head>
	<body>
		<!-- features section start -->
		<section id="features" class="features-section">
			<div class="features-wrapper">
				<div class="container">
					<div class="row justify-content-center align-items-center flex-column-reverse flex-md-row gx-5">
						<div class="col-md-6">
							<div class="features-img">
								<img src="../images/features/1.png" alt="features" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="features-content">
								<div class="section-title">
									<h2 class="heading">outsanding features</h2>
								</div>
								<p>
									simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
									standard simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
									industry's standard
								</p>
								<!-- <a class="btn">read more</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- features section end -->

		<!-- all vendors js files -->
		<script src="../js/jquery-3.6.0.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/owl.carousel.min.js"></script>
		<script src="../js/script.js"></script>
	</body>
</html>
