/* BLOG SECTION STYLES  */

.blog-section .blog-wrapper .section-title h2.heading {
	text-align: left;
}
.blog-section .blog-wrapper .section-title h2.heading::after {
	left: 45px;
}
.blog-section .item-blog-contents {
	padding-top: 50px;
}
.item-blog-contents .blog-content h3 {
	font-size: 3rem;
	color: #191919;
}
.item-blog-contents .blog-content p {
	font-size: 18px;
	color: #191919;
	font-weight: 500;
	width: 100%;
	max-width: 560px;
	padding-bottom: 4rem;
}
.item-blog-contents .blog-content a.anchor {
	font-size: 20px;
	color: #222222;
	font-weight: 500;
	text-transform: capitalize;
}
.item-blog-contents .blog-content a.anchor:hover {
	color: #f03737;
	-webkit-text-shadow: 1px 1px 1px #f9bfbf;
	-moz-text-shadow: 1px 1px 1px #f9bfbf;
	text-shadow: 1px 1px 1px #f9bfbf;
}
