/*=================================
BLOG SECTION STYLES START HERE  */

/* BLOG SECTION STYLES  */

.blog-section {
  position: relative;
  overflow: hidden;
  background: #fdfeff;
  box-shadow: 0px 0px 10px -6px #c3c1c1;
}
.blog-section .blog-wrapper {
  padding-top: 16rem;
  padding-bottom: 17rem;
}
.blog-section .blog-wrapper .section-title {
  margin-bottom: 0;
  padding-bottom: 10.5rem;
}
.blog-section .blog-wrapper .section-title h2.heading {
  text-align: left;
}
.blog-section .blog-wrapper .section-title h2.heading::after {
  left: 45px;
}

.blog-section .blog-image {
  box-shadow: 0px 0px 10px -6px #c3c1c1;
}

.item-blog-contents .blog-content h3 {
  font-size: 25px;
  font-weight: 700;
  color: #232323;
  padding-top: 50px;
  padding-bottom: 10px;
  text-transform: lowercase;
}
.item-blog-contents .blog-content:hover h3 a {
  color: #582fd7;
}
.item-blog-contents .blog-content p {
  font-size: 16px;
  font-weight: 400;
  color: #232323;
  padding-bottom: 4rem;
  line-height: 1.7;
}
.item-blog-contents .blog-content a.anchor {
  font-size: 20px;
  color: #222222;
  font-weight: 500;
  text-transform: capitalize;
}
.item-blog-contents .blog-content a.anchor:hover {
  color: #f03737;
  -webkit-text-shadow: 1px 1px 1px #f9bfbf;
  -moz-text-shadow: 1px 1px 1px #f9bfbf;
  text-shadow: 1px 1px 1px #f9bfbf;
}
