<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>oe psd to html</title>

		<!-- all google fonts for this project  -->
		<!-- Poppins Google Font  -->
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- --or-- Raleway Google Font -->

		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- all vendor css files  -->
		<link rel="stylesheet" href="../css/all.min.css" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/owl.carousel.min.css" />

		<!-- my custom css files  -->
		<link rel="stylesheet" href="../css/basic.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/responsive.css" />
		<link rel="stylesheet" href="./footer.css" />
	</head>
	<body>
		<!-- footer section start -->
		<section class="footer-top-section">
			<div class="footer-top-wrapper">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-lg-3 col-md-4">
							<div class="footer-left">
								<h3>newsletter</h3>
								<div class="footer-contents">
									<p>
										It is a long established fact that a reader will be distracted by the readable content of a page
										when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
										distribution of letters,
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 offset-lg-1">
							<div class="footer-middle">
								<h3>newsletter</h3>
								<div class="footer-contents">
									<div class="info">
										<a href="#"
											><i class="fas fa-phone"></i
											><span
												>It is a long established fact that a
												<span class="ph2"> reader will be distracted</span>
											</span></a
										>

										<a href="#"
											><i class="fas fa-phone"></i
											><span
												>(+71) 1234567890 <br />
												<span class="ph2">(+71) 1234567890</span>
											</span></a
										>

										<a href="#"><i class="fas fa-envelope-open"></i><span>demo@gmail.com</span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 offset-lg-1">
							<div class="footer-right">
								<h3>newsletter</h3>
								<div class="footer-contents">
									<form action="#" method="POST">
										<input type="email" name="email" placeholder="enter your email" required />
										<button type="submit">subscribe</button>
									</form>
									<ul class="social-links">
										<li>
											<a href="#"><i class="fab fa-facebook-f"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fab fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer-botom-section">
			<div class="footer-botom-wrapper">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-md-12">
							<div class="copyright-text">
								<p>&copy; 2021 all right reserved design by free html templates</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer section end -->

		<!-- all vendors js files -->
		<script src="../js/jquery-3.6.0.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/owl.carousel.min.js"></script>
		<script src="../js/script.js"></script>
	</body>
</html>
