<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>oe psd to html</title>

		<!-- all google fonts for this project  -->
		<!-- Poppins Google Font  -->
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- --or-- Raleway Google Font -->

		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- all vendor css files  -->
		<link rel="stylesheet" href="../css/all.min.css" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/owl.carousel.min.css" />

		<!-- my custom css files  -->
		<link rel="stylesheet" href="../css/basic.css" />
		<link rel="stylesheet" href="./header.css" />
		<link rel="stylesheet" href="../css/responsive.css" />
	</head>
	<body>
		<!-- START HEADER PART  -->
		<header id="header" class="header-section">
			<nav class="navigation-wrapper fixed-menu">
				<div class="navigation-bar">
					<div class="logo">
						<a href="#"><img src="../images/logo/logo.png" alt="logo" /></a>
					</div>

					<div class="login-search-icon-box">
						<div class="login">
							<a href="#">login <i class="fas fa-user"></i></a>
						</div>
						<div class="search-box">
							<i class="fas fa-search"></i>
						</div>
						<div class="toggler-icon">
							<span></span>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<!-- HEADER PART END -->

		<!-- MOBILE MENU OPTION  -->
		<!-- <ul class="mobile-menu">
			<li><a href="#">home</a></li>
			<li><a href="#">what we do</a></li>
			<li><a href="#">proprty</a></li>
			<li><a href="#">testimonial</a></li>
			<li><a href="#">news</a></li>
			<li><a href="#">contact</a></li>
		</ul> -->

		<!-- banner section start -->
		<section class="banner-section">
			<div class="banner-wrapper">
				<div class="container-fluid">
					<div class="owl-carousel banner-slider">
						<div class="container">
							<div class="row justify-content-between align-items-center">
								<div class="col-md-8">
									<div class="banner-content">
										<h1 class="title">Powerpoint</h1>
										<h4 class="sub-title">Infomation On Demand</h4>
										<p class="para">
											Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
											classical Latin literature
										</p>
										<a href="#" class="anchor"> contact us <i class="fas fa-long-arrow-alt-right"></i> </a>
									</div>
								</div>
								<div class="col-md-4">
									<img src="../images/banner/meeting-img.png" alt="meeting-img" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- banner section end -->

		<!-- all vendors js files -->
		<script src="../js/jquery-3.6.0.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/owl.carousel.min.js"></script>
		<script src="../js/script.js"></script>
	</body>
</html>
