<!-- START HEADER PART  -->
<header id="header" class="header-section">
	<div class="header-top-bar">
		<div class="container">
			<div class="header-top-info">
				<div class="icon-box">
					<a href="" class="loataion"><i class="fas fa-map-marker-alt"></i>location</a>
				</div>
				<div class="icon-box">
					<a href="#" class="phone"><i class="fas fa-phone-alt"></i>Call +01 1234567890</a>
				</div>
				<div class="icon-box">
					<a href="mailto:abc@example.com" class="email"><i class="far fa-envelope-open"></i>demo@gmail.com</a>
				</div>
			</div>
		</div>
	</div>

	<nav class="navigation-wrapper fixed-menu">
		<div class="container-fluid container-fluid-v2">
			<div class="navigation-bar">
				<div class="logo">
					<a href="#"><img src="./assets/images/logo/logo.png" alt="logo" /></a>
				</div>
				<div class="menu-box">
					<ul class="main-menu">
						<li><a href="#">home</a></li>
						<li><a href="#">what we do</a></li>
						<li><a href="#">proprty</a></li>
						<li><a href="#">testimonial</a></li>
						<li><a href="#">news</a></li>
						<li><a href="#">contact</a></li>
					</ul>
				</div>
				<div class="login-search">
					<div class="login">
						<a href="#">login <i class="fas fa-user"></i></a>
					</div>
					<div class="search-box">
						<i class="fas fa-search"></i>
					</div>
				</div>
				<div class="toggler-icon">
					<i class="fas fa-bars"></i>
				</div>
			</div>
		</div>
	</nav>
</header>
<!-- HEADER PART END -->

<!-- MOBILE MENU OPTION  -->
<ul class="mobile-menu">
	<li><a href="#">home</a></li>
	<li><a href="#">what we do</a></li>
	<li><a href="#">proprty</a></li>
	<li><a href="#">testimonial</a></li>
	<li><a href="#">news</a></li>
	<li><a href="#">contact</a></li>
</ul>

<!-- banner section start -->
<section class="banner-section">
	<div class="owl-carousel banner-wrapper">
		<div class="container-fluid">
			<div class="banner-slider">
				<div class="row justify-content-center align-items-center">
					<div class="col-md-5">
						<div class="banner-content">
							<h1 class="title">
								Buy <br />
								Owen <br />
								Home Here
							</h1>
							<p>
								using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
								'Content here, content here', making it look like
							</p>
							<a href="#" class="btn"> contact us <i class="fas fa-long-arrow-alt-right"></i> </a>
						</div>
					</div>
					<div class="col-md-7 d-md-block d-none"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- banner section end -->
