<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>oe psd to html</title>

		<!-- all google fonts for this project  -->
		<!-- Poppins Google Font  -->
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- --or-- Raleway Google Font -->

		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- all vendor css files  -->
		<link rel="stylesheet" href="../css/all.min.css" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/owl.carousel.min.css" />

		<!-- my custom css files  -->
		<link rel="stylesheet" href="../css/basic.css" />
		<!-- <link rel="stylesheet" href="./assets/css/style.css" />
		<link rel="stylesheet" href="./assets/css/responsive.css" /> -->
		<link rel="stylesheet" href="./services.css" />
	</head>
	<body>
		<!-- services info section start -->
		<section id="services" class="services-section">
			<div class="services-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="heading">Our Services</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="services-content">
								<div class="services-icon">
									<img src="../images/services/folder.png" alt="pay" />
								</div>
								<h4><a href="#">Storage </a></h4>
								<p>
									simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
									standard
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="services-content">
								<div class="services-icon">
									<img src="../images/services/analytics.png" alt="purse" />
								</div>
								<h4><a href="#">SellProperty</a></h4>
								<p class="big">
									simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
									standard
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="services-content">
								<div class="services-icon">
									<img src="../images/services/key.png" />
								</div>
								<h4><a href="#">Rent Property</a></h4>
								<p class="small">
									simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<a class="btn">read more</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- services info section end -->

		<!-- all vendors js files -->
		<script src="../js/jquery-3.6.0.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/owl.carousel.min.js"></script>
		<script src="../js/script.js"></script>
	</body>
</html>
