/*=================================
 SERVICES SECTION STYLES START HERE  */

/* SERVICES SECTION STYLES  */
.services-section {
  position: relative;
  background: #ffffff;
}
.services-section .services-wrapper {
  padding-top: 55px;
  padding-bottom: 70px;
}
.services-section .services-wrapper .section-title {
  margin: 0 auto;
  text-align: left;
  padding-bottom: 6.5rem;
}

.services-section .services-wrapper p {
  font-size: 17px;
  color: #585757;
}

.services-section .services-wrapper .services-icon {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin: auto;
  transition: all 0.4s linear;
}
.services-section .services-wrapper .services-icon img {
  transition: all 0.4s linear;
  filter: invert();
  margin: auto;
}

.services-section .services-wrapper .services-content {
  width: 100%;
  max-width: 350px;
  margin: auto;
  padding-bottom: 26px;
}
.services-section .services-wrapper .services-content h4 {
  color: #0d0c08;
  padding: 2rem 0;
  font-size: 20px;
  text-transform: capitalize;
  transition: all 0.4s linear;
  text-align: center;
}

.services-section .services-wrapper .services-content p {
  color: #585757;
  width: 100%;
  max-width: 336px;
  padding-bottom: 4.8rem;
  text-align: center;
}

.services-section .services-wrapper .services-content p.small {
  max-width: 320px;
}

.services-section .services-content:hover .services-icon {
  border-radius: 10px;
  background: #dadada2c;
  /* background: rgb(236, 172, 185);
	border: 1px dotted rgb(204, 194, 194); */
  -webkit-box-shadow: 1px 5px 30px #ddd;
  -moz-box-shadow: 1px 5px 30px #ddd;
  -ms-box-shadow: 1px 5px 30px #ddd;
  -o-box-shadow: 1px 5px 30px #ddd;
  shadow: 1px 5px 30px #ddd;
}
.services-section .services-content:hover .services-icon img {
  filter: grayscale(100%);
  transform: rotate(360deg);
}
.services-section .services-content:hover h4 > a {
  color: #5b2ddb;
}
.services-section .services-wrapper a.btn {
  color: #ffffff;
  background: #582fd7;
  text-align: center;
  margin: auto;
  border-radius: 30px;
}
.services-section .services-wrapper a.btn:hover {
  color: #ffffff;
  /* background: #ff0000; */
  background: #454546;
}
