<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>oe psd to html</title>

		<!-- all google fonts for this project  -->
		<!-- Poppins Google Font  -->
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- --or-- Raleway Google Font -->

		<link
			href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<!-- all vendor css files  -->
		<link rel="stylesheet" href="../css/all.min.css" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/owl.carousel.min.css" />

		<!-- my custom css files  -->
		<link rel="stylesheet" href="../css/basic.css" />
		<!-- <link rel="stylesheet" href="./assets/css/style.css" />
		<link rel="stylesheet" href="./assets/css/responsive.css" /> -->
		<link rel="stylesheet" href="./team.css" />
	</head>
	<body>
		<!-- team section start -->
		<section id="team" class="team-section">
			<div class="team-wrapper">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-md-12">
							<div class="section-title">
								<h2 class="heading">our team</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="owl-carousel item-team-contents">
								<div class="team-content">
									<div class="team-image"><img src="../images/team/1.png" alt="team-image" /></div>
									<h3>Roduk</h3>

									<a>(ceo)</a>
								</div>
								<div class="team-content">
									<div class="team-image"><img src="../images/team/1.png" alt="team-image" /></div>
									<h3>looduk</h3>

									<a>(co)</a>
								</div>
								<div class="team-content">
									<div class="team-image"><img src="../images/team/1.png" alt="team-image" /></div>
									<h3>Roduk</h3>

									<a>(ceo)</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- team section end -->

		<!-- all vendors js files -->
		<script src="../js/jquery-3.6.0.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/owl.carousel.min.js"></script>
		<script src="../js/script.js"></script>
	</body>
</html>
