@media (min-width: 1700px) {
}

@media (max-width: 1399px) {
  html {
    font-size: 58%;
  }
  .banner-wrapper {
    padding-bottom: 20rem;
  }
  .footer-top-section .footer-top-wrapper .footer-left .footer-contents {
    padding-bottom: 1rem;
  }
  .footer-top-section .footer-top-wrapper .footer-middle .footer-contents {
    padding-bottom: 0;
  }
}
@media (max-width: 1199px) {
  html {
    font-size: 56%;
  }
  .footer-top-section .footer-top-wrapper .footer-left .footer-contents {
    padding-bottom: 0rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 52%;
  }
  h1 {
    font-size: 6.5rem;
  }
  header.header-section > nav {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .banner-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .banner-section .container-v2 {
    padding-left: 60px;
    padding-right: 60px;
  }
  .banner-section .owl-carousel .owl-item img {
    width: 100%;
  }
  .footer-top-section .footer-top-wrapper .footer-middle .footer-contents {
    padding-bottom: 2rem;
  }
  .footer-top-section .footer-top-wrapper .footer-contents {
    padding-bottom: 4rem;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 22px;
  }
  header.header-section > nav {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .banner-wrapper {
    padding: 0;
  }
  .banner-section .container-v2 {
    padding-left: 0;
    padding-right: 0;
  }
  .banner-section .owl-carousel .owl-item img {
    width: 100%;
  }
  .features-section .features-content {
    padding-top: 40px;
  }
  .blog-content {
    padding-bottom: 30px;
  }
  .footer-top-section .footer-left {
    margin-bottom: 3rem;
  }
  .footer-top-section .footer-right h3 {
    text-align: left;
  }
  .footer-top-section .social-links {
    justify-content: flex-start;
  }
  .footer-top-section .social-links li {
    margin-left: 0;
    margin-right: 10px;
  }
  .footer-top-section .social-links li:last-child {
    margin-right: 0px;
  }
}
@media (max-width: 575px) {
  header.header-section > nav {
    padding: 2rem 1rem;
  }
  nav.navigation-wrapper .navigation-bar .logo a img {
    width: 100%;
  }
  .navigation-bar .login-search-icon-box .login a {
    padding-right: 5px;
  }
  .banner-section .banner-wrapper .owl-nav button.owl-prev {
    width: 45px;
    height: 45px;
    left: 15px;
    line-height: 1;
  }
  .banner-section .banner-wrapper .owl-nav button.owl-next span {
    width: 45px;
    height: 45px;
    right: 15px;
    line-height: 1.8;
  }
  .banner-content h1 {
    font-size: 6rem;
  }
  .banner-content .sub-title {
    font-size: 2.7rem;
  }
  .services-wrapper {
    padding-left: 15px;
  }
  .blog-section .blog-wrapper {
    padding-left: 15px;
  }
  .footer-top-section .footer-left {
    padding-left: 1.5rem;
  }
  .footer-top-section .footer-middle {
    padding-left: 1.5rem;
  }
  .footer-top-section .footer-right {
    padding-left: 1.5rem;
  }
}
@media (max-width: 480px) {
}
/* @media (max-width: 440px) {
  .blog-section .blog-wrapper .section-title h2.heading::after {
    top: 110px;
  }
} */
